* {
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}
    /* Light Theme */
:root {
    
    /*sektionsfärgerna kommenteras ut när allt är klart*/
    --_clr-primary:#6663F1;
    --_clr-bkg1:#33354D; /* sektionsfärg */
    --_clr-bkg2:#0B0F19; /* sektionsfärg */
    --_clr-black:black;
    --_clr-white:white;
    --_clr-green:#22C55E;
    --_clr-text: black;
    --_clr-togglebtn: rgba(0, 0, 0, 0.7);
    --_clr-apps: rgb(99, 102, 241, 0.08);
    --_clr-appshover: rgba(99, 102, 241, 0.15);
    --_clr-quotes:rgba(99, 102, 241, 0.08);
    --_clr-quoteshover:  rgba(99, 102, 241, 0.15);
    --_clr-contact: rgba(0, 0, 0, 0.2);
    --_clr-contacthover: rgba(0, 0, 0, 0.08);
    --_clr-subscribe:rgba(0, 0, 0, 0.08);
    --_clr-background: linear-gradient(to top, rgba(99, 102, 241, 0.1) 0%, rgba(218, 70, 239, 0.05) 42%, rgba(241, 244, 253, 0.07) 83%), #ffffff;

    --container-padding: 1rem;
    --transition-time: all 0.3s;    
}
    /* Dark Theme */
 :root.dark-theme {

    --_clr-primary:#6663F1;
    --_clr-bkg1:#33354D; /* sektionsfärg */
    --_clr-bkg2:#0B0F19; /* sektionsfärg */
    --_clr-black:black;
    --_clr-white:white;
    --_clr-green:#22C55E;
    --_clr-text: white;
    --_clr-togglebtn: rgb(255, 255, 255, .5);
    --_clr-apps: white;
    --_clr-appshover: rgb(211, 211, 211);
    --_clr-quotes:rgb(51, 53, 77, 0.5);
    --_clr-quoteshover:  #565c92;
    --_clr-contact: rgba(255, 255, 255, 0.5);
    --_clr-contacthover: #33354D;
    --_clr-subscribe: rgb(255, 255, 255, 0.08);
    --_clr-background: linear-gradient(to top, rgba(99, 102, 241, 0.1) 0%, rgba(218, 70, 239, 0.05) 42%, rgba(241, 244, 253, 0.07) 83%), #0b0f19;


    --container-padding: 1rem;
    --transition-time: all 0.3s;    

}

body {
    font-family: Manrope;
    color: var(--_clr-text);
    background: var(--_clr-background);
    min-width: 1900px;
}
/* #first-page {
     Satte bakgrundsfärger på varje sektion för att lättare kunna se
    vart allt börjar och slutar för varje del.
     background-color: var(--_clr-bkg1);
} */
.toppen {
    padding-top: 1rem;
    padding-left: 20%;
    padding-right: 20%;
    gap:2rem;
    display: grid;
    grid-template-columns:auto 1fr auto auto;
    justify-content: center;
    align-items: center;
}

.silicon-image {
    margin-top: 2.5px;
}
.silicon {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.silicon-text {
    font-size: 1.5rem;
    font-weight: bold;
}
a {
    text-decoration: none;
    color: var(--_clr-text);
}
p {
    color: var(--_clr-text);
}

a:hover {
    color: rgb(211, 211, 211);
}
.button {
    font-family: Manrope;
    font-size: 1rem;
    font-weight: 500;
    color: var(--_clr-text)
}
.feat {
    margin-top: 7px;
    font-weight: 300;
    display: flex;
    gap: 2rem;
}
.switch {
    --_w: 40px;
    --_h: 20px;

    margin-top: 7px;
    margin-right: 2rem;
    position: relative;
    display: inline-block;
    width: var(--_w);
    height: var(--_h);
}
.Label {
    color: var(--_clr-togglebtn);
    margin-right: 10px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 95%;
    width: 47.5%;
    left: 1px;
    right: 1px;
    bottom: 1px;

    background-color: var(--_clr-white);
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: var(--_clr-primary);
}
input:focus + .slider {
    box-shadow: 0 0 2px var(--_clr-primary) ;
}
input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}
.slider.round {
    border-radius: 10px;
}  
.slider.round:before {
    border-radius: 10px;
}

.btn-gubbe {
    margin-top: 7px;
    max-width: 170px;
    color: var(--_clr-white);
    background-color: var(--_clr-primary);
    border-radius: 8px;
    padding: 0.6rem 2rem;
}
.btn-gubbe:hover {
    background-color: #7573f1;
}
.btn-gubbe i {
    margin-right: 10px;
}

.bottom-of-page-1 {
    padding-top: 6rem;
    padding-left: 20%;
    padding-right: 20%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "text phones";
    /* justify-content: center;
    align-items: center; */
}
.text-knappar {
    grid-area: text;
    text-align: left;
}
.headline {
    font-size: 2.4rem;
    font-weight: 900;
    text-align: left;
}
.bread {
    margin-top: 2rem;
    font-weight: 100;
}
.phones {
    margin-right: 1rem;
    grid-area: phones;
}
.downloads {
    display: flex;
    margin-top: 2rem;
    gap: 2rem;

}
.btn-apple {
    background-color: var(--_clr-apps);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding-top: 0.6rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}
.btn-apple:hover {
    background-color: var(--_clr-appshover);
}
.btn-google {
    background-color: var(--_clr-apps);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding-top: 0.6rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}
.btn-google:hover {
    background-color: var(--_clr-appshover);
}
.discover {
    margin-top: 20rem;
}
.discover-text {
    margin-left: 0.5rem;
}
/* #second-page {
    background-color: var(--_clr-bkg2) 
} */
.logos {
    /* max-width: 1320px; */
    padding-top: 8rem;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logos-border {
    /* padding: 2rem; */
    height: 6rem;
    width: 11rem;
    margin-left: .5rem;
    margin-right: .5rem;
    display: grid;
    align-items: center;
    justify-content: center;
    border: solid 1px var(--_clr-quotes); 
    border-radius: 10px;
}
.logos-images {
    padding: 2rem;
}
.logos img {
    width: 90%;
    height: auto;
}
.bottom-of-page-2 {
    padding-top: 8rem;
    padding-left: 20%;
    padding-right: 20%;
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.iphone-card {
    position: relative;
    width: 267px;
    height: 595px;
}
.iphone-card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.app-features {
    font-size: 2rem;
    font-weight: 700;
}
.app-text {
    margin-top: 1rem;
    margin-bottom: 4rem;
    font-size: 0.9rem;
    font-weight: 100;
}
.iconBox {
    display: grid;
    gap:1rem;
    grid-template-columns: auto auto;
    max-width: 20rem;
}
.iconBox-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 15rem;
}
.iconBox-header {
    font-size: 1.5rem;
    font-weight: 700;
}
.iconBox-bread {
    font-weight: 200;
}
.icons-1 {
    padding-bottom: 8rem;
    margin-right: 0.7rem;
    display: grid;
    gap: 1.4rem;
    grid-template-columns: 1fr 1fr;
}
/* #third-page {
    background-color: var(--_clr-bkg1)
} */
.how-text {
    padding-top: 5rem;
    font-size: 2rem;
    font-weight: 900;
    display: flex;
    justify-content: center;
}
.three-phones {
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    gap: 6rem;
}
.transaction {
    margin-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}
.transaction-text-1 {
    font-size: 1.5rem;
    font-weight: 900;
}
.transaction-text-2 {
    font-size: 0.9rem;
    font-weight: 100;
    max-width: 45rem;
    text-align: center;
}
/* #fourth-page {
    background-color: var(--_clr-bkg2)
} */
.page-four {
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 20%;
    padding-right: 20%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}
.money {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.transfer-text {
    font-size: 1.5rem;
    font-weight: 800;
}
.banking-text {
    font-size: 1rem;
    font-weight: 100;
    display: flex;
    gap: 3px;
}
.monthly-text {
    font-size: 1rem;
    font-weight: 100;
    display: flex;
    gap: 3px;
}
.manage-text {
    font-size: 1rem;
    font-weight: 100;
    display: flex;
    gap: 3px;
}
.btn-learn-more {
    color: var(--_clr-white);
    background-color: var(--_clr-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    padding-top: 0.6rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 0.6rem;
    max-width: 9rem;
}
.btn-learn-more:hover {
    color: var(--_clr-white);
    background-color: #817fef;
}
.lm {
    font-size: 14px;
    font-weight: 100;
    margin-right: 5px;
}
.receive {
    max-width: 33rem;
    gap: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "payment payment"
                "card wallet"
                "lm lm";
}
.payment-text {
    font-size: 1.5rem;
    font-weight: 800;
    grid-area: payment;
}
.icon-card {
    font-size: 1rem;
    font-weight: 100;
    grid-area: card;
}
.icon-wallet {
    font-size: 1rem;
    font-weight: 100;
    grid-area: wallet;
}
.btn-lm-2 {
    grid-area: lm;
}
/* #fifth-page {
    background-color: var(--_clr-bkg1)
} */
.testimonials {
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.clients {
    margin-top: 1rem;
    margin-right: 7rem;
    font-size: 2rem;
    font-weight: 900;
    max-width: 15rem;
    text-align: left;
}
.quote-container {
    display: flex;
    gap: 2rem;
}
.quotes {
    background-color: var(--_clr-quotes);
    border-radius: 10px;
    max-width: 416px;
    display: grid;
    padding: 2rem 3rem 2rem 2.2rem;
    gap: 1.5rem;
}
.dubbelsnuttar {
    margin-top: -3.5rem;
    margin-left: -0.6rem;
}
.quote-text {
    font-size: 1.1rem;
    font-weight: 100;
}
.rating {
    margin-left: 0;
}
.twoclients {
    display: flex;
    gap: 1rem;
}
/* #sixth-page {
    background-color: var(--_clr-bkg2)
} */
.page-six {
    padding-top: 5rem;
    padding-right: 17%;
    padding-left: 17%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left faqs"
                        "bottom bottom";
}
.top-left   {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    grid-area: left;
}
.text-faqs {
    font-size: 2rem;
    font-weight: 900;
}
.text-in-touch {
    font-size: 1.3rem;
    font-weight: 100;
    max-width: 30rem;
}
.call-text-us {
    font-weight: 100;
    display:flex;
    gap: 2rem;
}
.call {
    border: 1px solid  var(--_clr-contact);
    border-radius: 10px;
    max-width: 15rem;
    padding: 2rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
}
.call:hover {
    background-color: var(--_clr-contacthover);
}
.sms {
    border: 1px solid  var(--_clr-contact);
    border-radius: 10px;
    max-width: 15rem;
    padding: 2rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
}
.sms:hover {
    background-color: var(--_clr-contacthover);
}
.contact-us-1 {
    color: var(--_clr-primary);
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.contact-us-2 {
    color: var(--_clr-green);
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.the-faqs {
    display:flex;
    flex-direction: column;
    gap: 0.5rem;
    grid-area: faqs;
}
.faqs {
    color: var(--_clr-text);
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--_clr-quotes);
    border: none;
    border-radius: 10px;
    padding: 10px 1rem;
    max-width: 46.5rem;
    grid-area: question;
    cursor: pointer;
}
.question {
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: auto;
}
.chevron-down {
    color: var(--_clr-white);
    background-color: rgb(51, 53, 77, 0.7);
    padding: .7rem .8rem;
    border: 0;
    border-radius: 30px;
    transition: 0.3s;
}
.chevron-down.open {
    color: var(--_clr-white);
    background-color: var(--_clr-primary);
    padding: .7rem .8rem;
    border: 0;
    border-radius: 30px;
    transform: rotate(180deg);
}
.faqs:hover {
    background-color: var(--_clr-quoteshover);
}
.answer {
    padding-top: 0;
    transition: 0.3s;  
}
.answer.open {
    padding: 1rem 0;
}
.q-text-arrow {
    padding-right: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.q-answer {
    font-weight: 100;
    padding-top: 1rem;
    padding-bottom: 10px;
}
.arrow-up {
    background: rgba(102, 99, 241, 0.8);
    border-radius: 20px;
}
.bottom-of-page-6 {
    margin-top: 5rem;
    padding: 4rem 2rem;
    display: flex;
    gap:10rem;
    border: none;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: var(--_clr-subscribe);
    grid-area: bottom;
}
.sub-bell {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.sub-text {
    font-size: 1.4rem;
    font-weight: 900;
    max-width: 26rem;
}
.sub-form {
    display: flex;
    position: relative;
}
.sub-img {
    position: absolute;
    top: 50%;
    left: 0.5rem;

    transform: translateY(-50%);
}
.input-email {
    color: var(--_clr-text);
    background-color: var(--_clr-background);
    height: 2.75rem;
    width: 20rem;
    border: solid 1px rgba(255, 255, 255, 0.5);
    padding-left: 2rem;
    border-right: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.btn-sub {
    font-size: 1rem;
    font-size: large;
    color: var(--_clr-white);
    background-color: var(--_clr-primary);
    border: none;
    cursor: pointer;
    padding: 0.2rem 3rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.btn-sub:hover {
    background-color: #7573f1;
}
.tothetop {
    margin-top: 3rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    font-size: 12px;
}
.my-mark {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    font-size: 12px;
}
.contactPage {
    display: grid;   
}
.pageNavigation {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.home {
    display: flex;
    align-items: center;
    gap: 6px;
}
/* #rickrolled {
    background-color: #0B0F19;
} */