:root{
    
    /*sektionsfärgerna kommenteras ut när allt är klart*/
    --_clr-primary:#6663F1;
    --_clr-bkg1:#33354D; /* sektionsfärg */
    --_clr-bkg2:#0B0F19; /* sektionsfärg */
    --_clr-black:black;
    --_clr-white:white;
    --_clr-green:#22C55E;


    --container-padding: 1rem;
    --transition-time: all 0.2s;
}

.toppen {
    padding-top: 1rem;
    padding-left: 20%;
    padding-right: 20%;
    gap:2rem;
    display: grid;
    grid-template-columns:auto 1fr auto auto;
    justify-content: center;
    align-items: center;
}

.silicon-image {
    margin-top: 2.5px;
}
a {
    text-decoration: none;
    color: var(--_clr-white);
}
a:hover {
    color: rgb(211, 211, 211);
}
.switch {
    --_w: 40px;
    --_h: 20px;

    margin-right: 2rem;
    position: relative;
    display: inline-block;
    width: var(--_w);
    height: var(--_h);
}
.Label {
    color: rgba(255, 255, 255, 0.5);
    margin-right: 10px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 95%;
    width: 47.5%;
    left: 1px;
    right: 1px;
    bottom: 1px;

    background-color: var(--_clr-white);
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: var(--_clr-primary);
}
input:focus + .slider {
    box-shadow: 0 0 2px var(--_clr-primary) ;
}
input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}
.slider.round {
    border-radius: 10px;
}  
.slider.round:before {
    border-radius: 10px;
}

.btn-gubbe {
    max-width: 170px;
    background-color: #6663F1;
    border-radius: 8px;
    padding: 0.6rem 2rem;
}
.btn-gubbe:hover {
    background-color: #7573f1;
}
.btn-gubbe i {
    margin-right: 10px;
}